@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');


body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-size: 18px;
}
.main{
  background-image:url(images/bg-hero-mobile.svg);
}
header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.logo img{

  width: 120px;
}
.btn-try{
width: 120px;
height: 40px;
}
#btn{
  text-decoration: none;
  border-radius:40px;
  width: 180px;
  height: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: all;
  
}

.hero{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
 padding: 20px;
}
.hero h1{
  font-size: 1.9rem;
  font-weight: 700;
}
.hero p{
  line-height: 2.1rem;
margin-bottom: 70px;
}
.hero-image{
  width: 100%;
  margin-top: 50px;
}
.hero-image img{
  width: 80%;
}

.btn-free{
margin-top: 70px;

  background-color:hsl(322, 100%, 66%);
  color: white;
  font-weight: bold;
  height: 60px;
  }
  
  .flowing img{
    width: 80%;
    max-width: 325px;
  
  }
   
  
  .box1{
    text-align: center;
    margin: 0 auto ;
    width: 80%;
    display: flex;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 30px;

  }
  .box2{
    text-align: center;
    margin: 20px auto ;
    width: 80%;
    display: flex;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .grow img {
    width: 80%;
    max-width: 325px;
  }

  .ready{
    text-align: center;
     max-width: 220px;
     margin: 20px auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: white;
    padding: 30px;
    
   }
   .footer{
     background-color: hsl(192, 100%, 9%);
     display: flex;
     color: white;
     flex-direction: column;
    position: relative;
     }
   .footer li{
     list-style: none;
     padding: 10px;
   }
   .foor img{
    width: 180px;
    margin: 20px;

   }
.nav ul li a{
text-decoration: none;
color: white;
}

@media (min-width: 786px){
    .main{
        background-image: url(images/bg-hero-desktop.svg);    
    }
  .hero{
    flex-direction: row;
  }
  .hero-text{
  text-align: justify;
  margin: 20px;
  }
  .box1{
    margin-top:100px;
    flex-direction: row-reverse;
    padding: 50px;
    margin-bottom: 50px;
    
  }
  .box1 img{
  width:360px;
  }
    .flowing-text{
        justify-content: flex-start;
    }
    .box2{
        flex-direction: row;
        padding: 50px;
        margin-bottom: 50px;
    }
    .box2 img{
        width: 360px;
        
    }
}